body {  


	    background-image: url("../img/maybe.jpg");
        background-repeat: round;
        background-color:  white;
        background-attachment: fixed;
        background-size: cover;
        color: white;
        width: 80%;	   
        margin-right: auto;
        margin-left: auto;	
        font-family:  URW Chancery L, cursive



	}
	 h1,h2 { 
	    
	 	text-align:center;
	 	font-weight:bolder
	 	

	 	





	 }
	 p{
	 	
        text-align: center
	 	font-weight:bolder;
	 	font-size: 22px;
	 	text-align: justify;
	 	

	 	 
	 	






	 }

	 h3{ 
	 
	 	text-align: center;
	 	
	 	







	 }
	
	 figure {

	 	text-align: center;








	 }
	 img{ width: 80%





	 }

	 ul,li{

	 	text-align: center;
	 	font-weight:bolder;
	 	font-size: 22px;
	 	text-align: justify;
	 	font-family:  URW Chancery L, cursive







	 }
	 a:link {
  color: #fff;
 background-color: transparent;
 text-decoration: underline;
}

a:visited {
  color: #008080;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #800000;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color:#800000;
  background-color: transparent;
  text-decoration: underline;
}
