
html{
    scroll-behavior: smooth;
    }

   body {  
   background-image: url("../img/maybe.jpg");
   background-repeat: round;
   background-color:  white;
   background-attachment: fixed;
   background-size: cover;
   color: white;
   font-family:  URW Chancery L, cursive;
  

 }
 .container{
   position: relative;
   width: 80%;    
   margin-right: auto;
   margin-left: auto;
   margin-top: 10%;

 }
 #sobre{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 0 auto;
 }
 #sobre .sobre{
    text-align: center;
 }
 #galeria{
   display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 4px 4px ;
 }
 
 #galeria .galeria{
  margin: 4px 4px ;
  text-align: center;
  position: relative;

 }
 .imggaleria{
  width: 80%%;
  border:1px solid #8B4513 ;
  border-radius: 10px;
  position: relative;

 }
 .gale{
    width: 90%;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
  }

 .imgsobre{
  width: 20%;
  height: 20%;
 }


 header, footer{
   background-color: rgba(139,69,19);
   padding: 1%;
   width:100%;
   background-attachment: fixed;
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: center;
   font-size: 21px;
   line-height: 1.0;


 }
     .menu-opçoes{
       position: absolute;
       right: 7%;
       top: 50%;
       text-align: center;
  }
     .menu-opçoes ul li{
        display: inline;
        margin-left: 15px;
    
  }
  .fixo{
   position: fixed;
   top:0;
   right: 0;
   left: 0;
   z-index: 1030;



 }
  .ajustes{
    line-height:1 ;
    text-align: center;
  }


  nav{
    width:100%,
    center;
    font-weight:bolder;
    font-size: 22px;
    text-align: justify;
 
 }
   p{
    
    text-align: center;
    font-weight:bolder;
    font-size: 21px;
    text-align: justify;
    margin-top: 2%;
    margin-bottom: 2%;
  
 }


 
  h1,h2 { 
      
   text-align:center;
   font-weight:bolder;
   margin-top: 3%;
   margin-bottom: 3%;
   font-size: 24px;

   
 }
 h3{
   margin-top: 3%;
   margin-bottom: 3%;
   font-size: 24px;
   text-decoration: underline;

 }

 .titulos{

  text-align: center;
   font-size: 24px;
 }
  
 
   .center{
    color: #fff;
    text-align: center;

 }

  
   figure {

    text-align: center;



 }
  .imgtexto { 
   width: 50%;
   text-align: center;

 }

 #web{
    width: 80%;    
    text-align: center; 
    font-weight:bolder;
    font-size: 22px;
    text-align: justify;
    margin-right: auto;
    margin-left: auto; 
 
 }
 .W3schools{
    width: 80%;    
    text-align: center; 
    font-weight:bolder;
    font-size: 22px;
    text-align: justify;
    margin-right: auto;
    margin-left: auto;  


 }
 #css{
   width: 80%;    
    text-align: center; 
    font-weight:bolder;
    font-size: 22px;
    text-align: justify;
    margin-right: auto;
    margin-left: auto;  

 }
 
  .listastexto{
    
    color:#fff;
    font-weight: bolder;
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: 21px;

  }


  ul li { text-align: center;
    font-weight:bolder;
    font-size: 22px;
    text-align: justify;
    font-family:  URW Chancery L, cursive;
    margin-top: 2%;
    margin-bottom: 2%;


 }
  table{
   text-align: center;  
   width: 80%;
   margin-top: 2%;
   margin-bottom: 2%;
   margin-right: 5%;
   margin-left: 5%;




 }
 .fundo{
      background-color: rgba(139,69,19,0.8);
      text-align: center;
      font-weight:bolder;
      font-size: 21px;
      text-align: justify;
      margin-top: 2%;
      margin-bottom: 2%;
      width: 88%;
      margin-left: auto;
      margin-right: auto;
      padding: 5%;

 }
 input[ type=text] , select {
  width: 80%;
  padding: 10px 15px;
  margin: 8px 0;
  display: inline-block;
  border:1px solid #8B4513;
  border-radius: 8px;

 }
 input[ type=submit] , select{
  width: 90%;
  background-color:#8B4513 ;
  color: #fff;
  padding: 14px 20px;
  margin: 8px 0;
  border:1px solid #8B4513 ;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  font-weight:bolder;
  font-size: 19px;
 
  margin-top: 2%;
  margin-bottom: 2%;
 }

 
   a:link {
  color: #D2B48C;
 background-color: transparent;
 text-decoration: underline;
 }

 a:visited {
  color: #D2B48C;
  background-color: transparent;
  text-decoration: none;
 }

 a:hover {
  color: #CD853F;
  background-color: transparent;
  text-decoration: underline;
 }

 a:active {
  color:#CD853F;
  background-color: transparent;
  text-decoration: underline;
 }

 html{
    scroll-behavior: smooth;

 }
 @media screen and (max-width: 599px){

  .conteiner{
       margin-top:65%;
       
 } 
}
@media screen and (min-width: 600px){

  .conteiner{
       margin-top:45%;
      
 }
 }
@media screen and (min-width: 768px){

  .conteiner{
       margin-top:20%;
 
  }
 header {
  align-items: center;
   font-size: 21px;
   width:100%;
   flex-direction: row;
    display: flex;
 }
 

  #sobre{
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 190px;

 }

  #sobre h1, h2 ,h3 , p {
    width: 100%;
    text-align: center;
  }
  #sobre .sobre {
    width: 25%;
    text-align: center;

  }
   
   #galeria{
    flex-direction: row;
    flex-wrap: wrap;


   }
  #galeria .galeria{
    text-align: center;
    width: 45%;
  }
  
  .gale{
    width: 90%;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

}
