@media screen and (max-width: 599px){

  .conteiner{
       margin-top:65%;
  }
}

@media screen and (min-width: 600px){

  .conteiner{
       margin-top:45%;
  }
}
@media screen and (min-width: 768px){

  .conteiner{
       margin-top:20%;
  }
  
    header{
       background-color: rgba(139,69,19);
       flex-direction: row;
       position: relative;
    }

    .menu-opçoes{
       position: absolute;
       right: 8%;
       top: 35%;
  }
     .menu-opçoes ul li{
        display: inline;
        margin-left: 15px;
    
  }
  
}
 html{
    scroll-behavior: smooth;
    }

  body {  
   background-image: url("../img/maybe.jpg");
   background-repeat: round;
   background-color:  white;
   background-attachment: fixed;
   background-size: cover;
   color: white;
   font-family:  URW Chancery L, cursive;
  

 }
 .container{
   width: 80%;    
   margin-right: auto;
   margin-left: auto;
   margin-top:25%;  





 }
 .titulos{

  text-align: center;
   font-size: 24px;
 }
  
 header, footer{
   background-color: rgba(139,69,19);
   padding: 1%;
   width:100%;
   background-attachment: fixed;
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: center;
    font-size: 21px;
    line-height: 1.0;


 }

  h1,h2,h3 { 
      
   text-align:center;
   font-weight:bolder;
   margin-top: 3%;
   margin-bottom: 3%;
   font-size: 24px;

   
 }
   p{
    
    text-align: center;
    font-weight:bolder;
    font-size: 21px;
    text-align: justify;
    margin-top: 2%;
    margin-bottom: 2%;
  
 }

   .center{
    color: #fff;
    text-align: center;

 }


   
  
   figure {

    text-align: center;



 }
  .imgtexto { 
   width: 50%;
   text-align: center;






 }
 .imglogo{
   width: 15%;




 }
 #web{
    width: 80%;    
    text-align: center; 
    font-weight:bolder;
    font-size: 22px;
    text-align: justify;
    margin-right: auto;
    margin-left: auto; 
   

    
     

 }
 .W3schools{
    width: 80%;    
    text-align: center; 
    font-weight:bolder;
    font-size: 22px;
    text-align: justify;
    margin-right: auto;
    margin-left: auto;  


 }
 #css{
   width: 80%;    
    text-align: center; 
    font-weight:bolder;
    font-size: 22px;
    text-align: justify;
    margin-right: auto;
    margin-left: auto;  

 }
 .fixo{
   position: fixed;
   top:0;
   right: 0;
   left: 0;
   z-index: 1030;



 }
  .listastexto{
    
    color:#fff;
    font-weight: bolder;
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: 21px;



  }

  .ajustes{
    line-height: 1;
    text-align: center;
  }
  .menu-opçoes{
    text-align: center;
  }

  ul li { text-align: center;
    font-weight:bolder;
    font-size: 22px;
    text-align: justify;
    font-family:  URW Chancery L, cursive;
    margin-top: 2%;
    margin-bottom: 2%;


 }
  nav{
    width:100%,
    center;
    font-weight:bolder;
    font-size: 22px;
    text-align: justify;
 
 }
  

 
  
  table{
   text-align: center;  
   width: 80%;
   margin-top: 2%;
   margin-bottom: 2%;
   margin-right: 5%;
   margin-left: 5%;




 }
   a:link {
  color: #D2B48C;
 background-color: transparent;
 text-decoration: underline;
 }

 a:visited {
  color: #D2B48C;
  background-color: transparent;
  text-decoration: none;
 }

 a:hover {
  color: #CD853F;
  background-color: transparent;
  text-decoration: underline;
 }

 a:active {
  color:#CD853F;
  background-color: transparent;
  text-decoration: underline;
 }

 html{
    scroll-behavior: smooth;

 }
